$mainFontFamily: 'Poppins',
sans-serif;
$headerBGcolor: rgba(86, 184, 135, .06);
$headerPhotoBorderColor: #ffffff;
$headerDefaultTextColor:#ffff;
$headerIconsBGColor: rgba(255, 255, 255, .1);
$defaultSectionBGColor: #ffff;
$primaryColor: #000000;
$secondaryColor:#555;
$personalInfoColor: #9baab3;
$statsNumerColor: #9baab3;
$progresBarBG:#ebeef2;
$progresBarColor:#56b887;